body {
  main {
    .main-container {
      overflow-x: hidden;
      .intro-card {
        height: 500px;
        width: 90%;
        border-radius: 10px;
        padding: 7rem 1.4rem;
        margin: 0 auto 7rem;
        background: url(../assets/home/mobile/image-hero-coffeepress.jpg)
          no-repeat;
        background-size: cover;
        h2,
        p {
          color: $light-cream;
        }
        p {
          margin: 2rem 0;
          opacity: 0.8;
        }

        button {
          padding: 1rem 2rem;
          border-radius: 5px;
          background-color: $dark-cyan;
          color: $light-cream;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}
