body {
  main {
    .main-container {
      .order-summary {
        width: 90%;
        margin: 0 auto 7rem;
        .order {
          background: url(/assets/plan/mobile/bg-order-summary.png);
          width: 100%;
          padding: 0 2rem 4rem;
          margin-bottom: 2rem;
          border-radius: 10px;
          .ordersum-text {
            color: $grey;
            display: block;
            text-align: left;
            padding: 2rem 0;
          }
          h5 {
            text-align: left;
            color: $light-cream;
            span {
              color: $dark-cyan;
            }
          }
        }
        button {
          background: $dark-cyan;
          h6 {
            color: $light-cream;
          }
          width: 70%;
          height: 3rem;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
}
